<footer class="footer">
  <small>
    The <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    by <a href="http://www.michaelhartl.com/">Michael Hartl, </a>
    application created by Sergey Yermolayev
  </small>
  <nav>
    <ul>
      <li><%= link_to "Help",   help_path %></li>
      <li><%= link_to "About us",   about_path %></li>
      <li><%= link_to "Contacts",   contact_path %></li>
      <li><a href="http://news.railstutorial.org/" target="_blank">News</a></li>
    </ul>
  </nav>
</footer>
